# docker/.dockerignore
# Ignorar dependencias locales
node_modules

# Ignorar archivos de configuración sensibles y temporales
.env
npm-debug.log
yarn-debug.log
.vscode/

# Ignorar archivos de Git
.git
.gitignore

# Ignorar documentación que no se necesita en runtime
docs/
tests/